@model ControleDeContas.Models.Movimentacao

@{
    ViewData["Title"] = "Detailhes de Movimentações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData</h1>

<div>
    <h4>Movimentacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDevido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDevido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParcelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalParcelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroParcela)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar para lista de Movimentações</a>
</div>
